name: Build & Release Windows App

on:
  push:
    tags:
      - "v*.*.*"   # ogni volta che crei un tag come v1.0.0 parte la release
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Build EXE with PyInstaller
      run: |
        pyinstaller --onefile --windowed app_visure_pyqt.py

    - name: Upload EXE as artifact
      uses: actions/upload-artifact@v4
      with:
        name: visure-extractor-exe
        path: dist/app_visure_pyqt.exe

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download EXE artifact
      uses: actions/download-artifact@v4
      with:
        name: visure-extractor-exe

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        files: |
          app_visure_pyqt.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
